fastapi>=0.1.0
uvicorn[standard]>=0.23.0
langchain>=1.2.0
langchain-huggingface>=0.1.0
langchain-openai>=1.2
langgraph>=0.1.0
langgraph-checkpoint-postgres>=1.0.0
psycopg2-binary>=2.9.0
sqlalchemy>=2.0.0
guardrails-ai>=0.10.0
pydantic>=2.0.0
python-multipart>=0.0.6
certifi>=2023.0.0
urllib3>=2.0.0
huggingface-hub>=0.20.0
transformers>=4.30.0
sentence-transformers>=2.2.0
torch>=2.0.0
langchain-openrouter>=0.2.1
langserve[all]>=0.0.30
sse-starlette>=1.6.0
langsmith>=0.8.0
